<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div [hidden]="submitted">
        <div class="panel  panel-primary">
          <div class="panel-heading">New Booking</div>
          <div class="panel-body">
            <form
              class="form-horizontal"
              (ngSubmit)="onSubmit()"
              #bookingForm="ngForm"
            >
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-4 control-label" for="date">Date</label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="bookingModel.date"
                      name="date"
                      id="date"
                      required
                      #date="ngModel"
                    />
                    <div
                      [hidden]="date.valid || date.pristine"
                      class="alert alert-danger"
                    >
                      Date is required
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-4 control-label" for="capacity"
                    >Capacity</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="number"
                      min="1"
                      class="form-control"
                      [(ngModel)]="bookingModel.capacity"
                      name="capacity"
                      id="capacity"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-4 control-label" for="startTime"
                    >Start Time</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="bookingModel.slot.startTime"
                      name="startTime"
                      id="startTime"
                      required
                    />
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-4 control-label" for="endTime"
                    >End Time</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="bookingModel.slot.endTime"
                      name="endTime"
                      id="endTime"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="col-sm-4 control-label" for="needsTelephone"
                    >Needs Telephone</label
                  >
                  <!-- <input
              type="text"
              class="form-control"
              [(ngModel)]="model.needsTelephone"
              name="needsTelephone"
              id="needsTelephone"
              required
            /> -->
                  <div class="col-sm-8">
                    <select
                      class="form-control"
                      [(ngModel)]="bookingModel.needsTelephone"
                      name="needsTelephone"
                      id="needsTelephone"
                      required
                    >
                      <option>true</option>
                      <option>false</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label class="col-sm-4 control-label" for="needsProjector"
                    >Needs Projector</label
                  >
                  <!-- <input
              type="text"
              class="form-control"
              [(ngModel)]="model.needsProjector"
              name="needsProjector"
              id="needsProjector"
              required
            /> -->
                  <div class="col-sm-8">
                    <select
                      class="form-control"
                      [(ngModel)]="bookingModel.needsProjector"
                      name="needsProjector"
                      id="needsProjector"
                      required
                    >
                      <option>true</option>
                      <option>false</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <button
                  type="submit"
                  [disabled]="!bookingForm.form.valid"
                  class="btn btn-success pull-right"
                >
                  New Booking
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div [hidden]="!submitted || !responseReceived">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div [hidden]="!roomsFound">
              <h2>Congratulations ! Your Booking was Successfull.</h2>

              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Room Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>{{ bookedRoom.name }}</td>
                  </tr>
                  <tr>
                    <td>Maximum Capacity</td>
                    <td>{{ bookedRoom.maxCapacity }}</td>
                  </tr>
                  <tr>
                    <td>Projector</td>
                    <td>
                      {{
                        bookedRoom.hasProjector ? "Available" : "Un-Available"
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>Telephone</td>
                    <td>
                      {{
                        bookedRoom.hasTelephone ? "Available" : "Un-Available"
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Booking Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Booking ID</td>
                    <td>
                      {{ savedBooking._id }}
                    </td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td>
                      {{ savedBooking.date }}
                    </td>
                  </tr>
                  <tr>
                    <td>Start Time</td>
                    <td>
                      {{ savedBooking.slot.startTime }}
                    </td>
                  </tr>
                  <tr>
                    <td>End Time</td>
                    <td>
                      {{ savedBooking.slot.endTime }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div [hidden]="roomsFound">
              <h2>No rooms found</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
