<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Rooms: {{ companyName }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4" *ngFor="let room of rooms">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ room.name }}</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                Maximum Capacity
                <span class="badge">{{ room.maxCapacity }}</span>
              </li>
              <li class="list-group-item">
                Projector
                <span
                  class="badge badge-{{
                    room.hasProjector ? 'success' : 'danger'
                  }}"
                  >{{ room.hasProjector ? "available" : "un-available" }}</span
                >
              </li>
              <li class="list-group-item">
                Telephone
                <span
                  class="badge badge-{{
                    room.hasTelephone ? 'success' : 'danger'
                  }}"
                  >{{ room.hasTelephone ? "available" : "un-available" }}</span
                >
              </li>
            </ul>
            <div class="row">
              <div class="col-md-12">
                <button
                  [routerLink]="['/room/bookings', room._id]"
                  class="btn btn-primary pull-right"
                >
                  Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="rooms.length == 0">No rooms Found</div>
    </div>
  </div>
</div>
