<h2 mat-dialog-title>New Company</h2>
<mat-dialog-content>
  <form class="form-horizontal" (ngSubmit)="onSubmit()" #addCompanyForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Name:</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Company Name"
          [(ngModel)]="companyModel.name"
          #companyName="ngModel"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="startTime">Start Time:</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          id="startTime"
          name="startTime"
          placeholder="Start Time"
          [(ngModel)]="companyModel.dayStartTime"
          #startTime="ngModel"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">End Time:</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          id="endTime"
          name="endTime"
          placeholder="End Time"
          [(ngModel)]="companyModel.dayEndTime"
          #endTime="ngModel"
        />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" mat-dialog-close class="btn btn-danger">
          Cancel
        </button>
        <button type="submit" class="btn btn-success pull-right">Save</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
