<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <mat-card>
          <mat-card-header>
              <mat-card-title>
                <h2>Signup</h2>
              </mat-card-title></mat-card-header
            >
            <hr />
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form
          (submit)="onSignup(loginForm)"
          #loginForm="ngForm"
          *ngIf="!isLoading"
        >
          <mat-form-field>
            <input
              matInput
              name="email"
              ngModel
              type="email"
              placeholder="E-Mail Address"
              #emailInput="ngModel"
              required
              email
            />
            <mat-error *ngIf="emailInput.invalid"
              >Please Enter a valid Email</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <input
              type="password"
              name="password"
              ngModel
              #passwordInput="ngModel"
              required
              matInput
              placeholder="Password"
            />
            <mat-error *ngIf="passwordInput.invalid"
              >Please Enter a valid password</mat-error
            >
          </mat-form-field>
          <button
            color="primary"
            mat-raised-button
            type="submit"
            *ngIf="!isLoading"
          >
            Signup
          </button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
