<ul class="list-group">
  <li class="list-group-item active">
    <div class="row">
      <div class="col-xs-8">
        <h4 class="list-group-item-heading">Companies</h4>
      </div>
      <div class="col-xs-4">
        <button (click)="addCompany()" class="btn btn-default pull-right">
          Add
        </button>
      </div>
    </div>
  </li>
  <li class="list-group-item" *ngFor="let company of companies">
    <div class="row">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div *ngIf="!isLoading" class="col-xs-8">
        <h4 (click)="onSelectCompany(company)" class="list-group-item-heading">
          <a class="link-title">{{ company.name }}</a>
        </h4>
        <p class="list-group-item-text">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          {{ company.dayStartTime | date: "shortTime" }} -
          {{ company.dayEndTime | date: "shortTime" }}
        </p>
      </div>
      <div class="col-xs-4">
        <button
          [routerLink]="['/bookings', company.name]"
          class="btn btn-primary pull-right"
        >
          Book
        </button>
      </div>
    </div>
  </li>
</ul>
