<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>Room Bookings</h3>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Capacity</th>
            <th>Projector</th>
            <th>Telephone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td>{{ booking._id }}</td>
            <td>{{ booking.date }}</td>
            <td>{{ booking.slot.startTime }}</td>
            <td>{{ booking.slot.endTime }}</td>
            <td>{{ booking.capacity }}</td>
            <td>{{ booking.needsProjector }}</td>
            <td>{{ booking.needsTelephone }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
